h1 {
  text-align: center;
  font-size: 50px;
}

h2 {
  text-align: center;
  color: #FcEA39;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  height: 350px; 
}

#grad1 {
  background-image: linear-gradient(to bottom right, green, yellow);
  height: 100%;
  width: 100%;
}

div {
  font-size: 25px;
}

a {
  font-size: 20px;
}
